
.main-item-div{
    width: 1480px;
    height: 1900px;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    

}
.btn-div{
    margin-top: 40px;
    margin-bottom: 40px;
}
.main-div h1{
    font-size: 70px;

}
.category-btn{
    width: 100px;
    height: 40px;
    font-size: 16px;
}
.App{

}
